# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: Voi Documentation
site_description: Learn More about Voi
site_url: https://docs.voi.network/
repo_url: https://github.com/VoiNetwork/learn-more
edit_uri: edit/main/docs/

theme:
  name: material
  language: en
  logo: assets/Voi_Logo_White_on_Purple_Background.png
  favicon: assets/favicon.ico
  palette:
    primary: custom
  features:
    - navigation.instant
    - navigation.instant.progress
    - content.action.edit
    - content.code.copy
    - content.tabs.link
    - search.suggest
    - search.highlight

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/Voi_Net
    - icon: fontawesome/brands/github
      link: https://github.com/VoiNetwork/learn-more
    - icon: fontawesome/brands/discord
      link: https://discord.com/invite/vnFbrJrHeW
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
    actions:
      - accept
      - reject
      - manage
  analytics:
    provider: google
    property: G-DVSMLD5GQ7
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! Help us improve this page by
            joining <a href="https://discord.com/invite/vnFbrJrHeW">our Discord</a>.

copyright:
  This documentation is marked with <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal</a>&nbsp
  <a href="#__consent">Change cookie settings</a>

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - footnotes
  - pymdownx.snippets:
      base_path: "docs"
      check_paths: true
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower

plugins:
  - search
  - social:
      cards_layout: default/variant
      cards_layout_options:
        background_color: "#702AE2"
  - git-revision-date-localized:
      enabled: true
      enable_creation_date: false
  - privacy

extra_css:
  - stylesheets/extra.css

nav:
  - Voi: index.md
  - Executive Summary: executive-summary.md
  - Voi Chain:
      - Using Voi:
          - Create A Wallet: using-voi/create-a-wallet.md
          - Build On Voi: using-voi/build-on-voi.md
      - Understanding Voi:
          - Core Concepts: understanding-voi/core-concepts.md
          - Accounts: understanding-voi/accounts.md
          - Wallets: understanding-voi/wallets.md
          - Assets: understanding-voi/assets.md
          - Transactions: understanding-voi/transactions.md
          - Blocks: understanding-voi/blocks.md
          - State Proofs: understanding-voi/state-proofs.md
          - Consensus: understanding-voi/consensus.md
          - Nodes: understanding-voi/nodes.md
          - Smart Contracts: understanding-voi/smart-contracts.md
          - Smart Signatures: understanding-voi/smart-signatures.md
          - Virtual Machine: understanding-voi/virtual-machine.md
  - Voi Ecosystem:
      - Wallets: ecosystem/wallets.md
      - Community: ecosystem/community.md
      - Projects: ecosystem/projects.md
      - Tokenomics: ecosystem/tokenomics.md
      - Bounty Boards:
          - Products: ecosystem/bounty-boards/products.md
          - Services: ecosystem/bounty-boards/services.md
      #- Roadmap: ecosystem/roadmap.md
  - Voi Governance:
      - Governance:
          - Overview: governance/governance.md
          - Council: governance/governance/council.md
          - Treasury: governance/governance/treasury.md
          - Judiciary: governance/governance/judiciary.md
          - Checks and Balances: governance/governance/checks-and-balances.md
      - Committees:
          - Overview: governance/committees/overview.md
          - Network: governance/committees/network.md
          - Builder: governance/committees/builders.md
          - Voiager: governance/committees/nfts.md
          - DeFi: governance/committees/defi.md
      - Submitting Proposals:
          - Overview: governance/submitting-proposals.md
          - Types of Grants: governance/proposals/types-of-grants.md
          - Application Process: governance/proposals/application-process.md
          - Grants Calendar: governance/proposals/grants-calendar.md
          - Links & Resources: governance/proposals/links-and-resources.md
      - Constitution: governance/constitution.md
  - Building On Voi:
      - Start Here: developers/start-here.md
      - Interacting With Voi Blockchain:
          - Overview: developers/interacting-with-voi-blockchain.md
          - SDK: developers/sdk.md
          - API: developers/api.md
          - CLI: developers/cli.md
      - Smart Contracts: developers/smart-contracts.md
      - Tools: developers/tools.md
      - Networks: developers/networks.md
      - Bounties: developers/bounties.md
  - Nodes On Voi:
      - Nodes Overview: node-runners/overview.md
      - Participation:
          - Run A Node: node-runners/run-a-participation-node.md
      - Relay:
          - Become A Relay Runner: node-runners/become-a-relay-runner.md
  - Join The Revolution:
      - Become A Rebel: join-the-revolution/become-a-rebel.md
      - Popular:
          - Voiagers: join-the-revolution/voiagers.md
          - Node Runners: join-the-revolution/node-runners.md
          - Developers: join-the-revolution/developers.md
          - Builders: join-the-revolution/builders.md
          - Traders: join-the-revolution/traders.md
          - Artists: join-the-revolution/artists.md
          - Collectors: join-the-revolution/collectors.md
      - Advanced:
          - Ambassadors: join-the-revolution/advanced/ambassadors.md
          - Moderators: join-the-revolution/advanced/moderators.md
          - Governors: join-the-revolution/advanced/governors.md
          - Core Partners: join-the-revolution/advanced/core-partners.md
          - Relay Runners: join-the-revolution/advanced/relay-runners.md
